/* --- global variables --- */
:root {
    /* colors */
    --base-color: rgb(255, 255, 255);
    --accent-color: rgb(66, 136, 228);
    --light-color: rgb(58, 58, 58);
    --lighter-color:  rgb(139, 139, 139);

    --selection-color: rgb(40, 210, 226);
    
    --background-base-color: rgb(18,18,18);
    --background-accent-color: rgb(22, 22, 22);
    
    /* fonts */
    --font-base-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-base-mono: monospace;
    --font-base-size: 16px;
}

/* --- resets --- */
* {
    margin: 0;
    padding: 0;
}

/* --- html --- */
html {
    scroll-behavior: smooth;
    font-family: var(--font-base-sans);
    font-size: var(--font-base-size);
}

/* --- body --- */
body {
    color: var(--base-color);

    /* set max width and center body */
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

    /* padding */
    padding: .8rem;

    /* set background color */
    background-color: var(--background-base-color);

    /* base font size & line height*/
    line-height: 1.5;
}

/* selected text color */
::selection {
    background-color: var(--selection-color);
}

/* --- h tags --- */
h1, h2, h3, h4, h5, h6 {
    margin-top: .5rem;
    margin-bottom: .2rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

/* --- a --- */
a {
    color: var(--accent-color);
    text-decoration: none;
}

a:visited {
    color: var(--accent-color);
}

a:hover {
    text-decoration: underline;
}

/* --- mark --- */
mark {
    color: var(--base-color);
    background-color: var(--accent-color);
    border-radius: 2px;
}

/* --- code, samp, var, pre, kbd --- */
code, samp, var, kbd {
    color: var(--lighter-color);
    background-color: var(--background-accent-color);
    font-family: var(--font-base-mono);
    border-radius: 2px;
    padding-left: .5rem;
    padding-right: .5rem;
}

pre {
    color: var(--lighter-color);
    background-color: var(--background-accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 2px;
    padding-left: .8rem;
    padding-top: .5rem;
    padding-bottom: .7rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    overflow: auto;
}

kbd {
    border: 1px solid var(--accent-color);
    border-radius: 2px;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
}

/* --- blockquote  --- */
blockquote {
    font-style: italic;
    background-color: var(--background-accent-color);
    border-left: 3px solid var(--accent-color);
    border-radius: 2px;
    padding-left: .8rem;
    padding-top: .5rem;
    padding-bottom: .7rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

/* --- abbr --- */
abbr {
    cursor: help;
}

/* --- hr  --- */
hr {
    border: 1px solid var(--background-accent-color);
    border-top: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* --- details & summary --- */
details {
    background-color: var(--background-accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 2px;
    padding-left: .4rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}


summary:hover {
    cursor: pointer;
}

/* --- list --- */
li {
    list-style-position: inside;
    list-style: none;
}

/* table */
table, th, td {
    border: 1px solid var(--light-color);
    border-collapse: collapse;
    text-align: center;

}

table {
    width: 100%;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

th, td {
    padding: .5rem;
}

/* input submit and button */
input[type="submit"], button {
    color: var(--base-color);
    background-color: transparent;
    border: 1px solid var(--accent-color);
    border-radius: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition: background-color 100ms ease-in, color 100ms ease-in;
}

input[type="submit"]:hover, button:hover {
    cursor: pointer;
    background-color: var(--accent-color);
}

/* input text */
input[type="text"], textarea {
    color: var(--base-color);
    background-color: var(--background-accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 1px;
    padding-left: .2rem;
    padding-right: .2rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

input[type="text"]:focus, textarea:focus {
    outline: none;
}

/* nav */
/* styles of specific tags are changed if parent is a nav tag */
header, nav {
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

header h2 {
    font-size: 1.5rem;
}

nav li {
    list-style: none;
    display: inline;
    padding-left: .2rem;
    padding-right: .2rem;
}

nav a {
    font-size: 1.2rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: var(--accent-color);
    background-color: transparent;
}

/* footer */
footer {
    text-align: center;
    margin-top: .5rem;
    position: fixed;
    left: 50%;
    bottom: .5rem;
    transform: translate(-50%, 0);
}

footer p {
    color: var(--light-color);
}

footer a, footer a:visited{
    color: var(--light-color);
}